@import "tailwindcss";

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500,600,700,800;
  font-style: normal;


}
.parallax {
  background-image: url("../public/Banner.jpg");


 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.article{

  margin-top: 500px;

}